$aссent: #ff6838;
$silver200: #ececec;
$gray: #c2c2c2;
$title: #363853;
$default: #31352b;
$bgcolor: #f9faff;
$white: #ffffff;
$accent2: #ff7a50;
$lightcolor: #fff2ed;
$blue: #00AAFF;
$red: #FF2222;
$pale: #FFAE94;
