@import "reset";
@import "fonts";
@import "vars";
@import "global";

.header {
  padding: 60px 0;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-left: 5px;
  border-radius: 5px;
  letter-spacing: 0.043em;
  transition: box-shadow, opacity, 0.4s;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    color: $aссent;
    opacity: 0.8;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    box-shadow: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 50px;

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    border-radius: 5px;
    transition: box-shadow, opacity, ease-in-out 0.4s;
    &--active {
      color: $aссent;
    }
  }
}

.user-nav {
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__btn {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $accent2;
    }

    &:hover > .user-nav__icon {
      stroke: $white;
    }

    &:active {
      background-color: $lightcolor;
      box-shadow: none;
    }

    &:active > .user-nav__icon {
      stroke: $title;
    }

    &:hover > .user-nav__num {
      background-color: $white;
      color: $aссent;
    }

    &:active > .user-nav__num {
      background-color: $aссent;
      color: $white;
    }
  }

  &__icon {
    position: absolute;
    width: 21px;
    height: 22px;
    top: 11px;
    left: 12px;
    fill: transparent;
    stroke: $title;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;
  }

  &__num {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: $aссent;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 10px;
    line-height: 1.4;
    color: $white;
    text-align: center;
    z-index: 1;
    transition: background-color, opacity, ease-in-out 0.4s;
  }
}

.services {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    align-self: center;
    max-width: 450px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $aссent;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__link-btn {
    margin-right: 34px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    padding: 12px 32px;
    background-color: $aссent;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;
  }

  &__link {
    height: 30px;
    text-decoration: underline;
    border-radius: 5px;
    transition: box-shadow, opacity, ease-in-out 0.4s;
  }

  &__img {
    width: 560px;
    height: 660px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
  }
}

.popular-categories {
  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    margin-bottom: 45px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    padding: 21px 32px 21px 85px;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver200;
    border-radius: 5px;
    color: $title;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &.mixitup-control-active {
      background-color: $aссent;
      color: $white;
    }

    &.mixitup-control-active > .popular-categories__icon {
      stroke: transparent;
      fill: $white;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $aссent;

      &:hover .popular-categories__icon {
        fill: $aссent;
      }
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
      color: $title;

      &:active .popular-categories__icon {
        fill: $title;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 13px;
    left: 32px;
    fill: $title;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
  }

  &__button {
    display: block;
    text-decoration: underline;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    transition: text-decoration, box-shadow, opacity, ease-in-out 0.4s;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 210px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver200;
  border-radius: 5px;
  padding: 20px 0;
  transition: box-shadow, ease-in-out 0.4s;

  &:hover {
    background-color: $white;
    box-shadow: 0 0 0 1px $aссent;
  }

  &__link {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: $default;
    margin-bottom: 10px;
  }

  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: $title;
    margin-top: auto;
    margin-bottom: 10px;
  }

  &__btn {
    padding: 7px 16px;
    background-color: $aссent;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;
  }
}

.benefits {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    padding: 0 70px;
  }

  &__img {
    width: 440px;
    height: 585px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    margin-right: 25px;
  }

  &__content {
    max-width: 470px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__info {
    padding-left: 64px;
    font-size: 24px;
    color: $title;
    display: block;
  }

  &__icon {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;

    &--timer {
      fill: $aссent;
    }

    &--delivery {
      fill: $blue;
    }

    &--restaurant {
      fill: $red;
    }
  }

  &__link {
    display: block;
    width: fit-content;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    border-radius: 6px;
    padding: 12px 32px;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;
  }
}

.restaurants {
  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-gap: 30px;
  }
}

.restaurant-card {
  max-width: 370px;
  background-color: $white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  padding-bottom: 23px;
  transition: box-shadow, opacity, ease-in-out 0.4s;

  &:hover {
    box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
  }

  &__img {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &__time {
    position: relative;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.9;
    padding-left: 54px;

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../images/sprite.svg#icon-time");
      width: 22px;
      height: 22px;
      top: 0;
      left: 20px;
    }
  }

  &__link {
    width: 79px;
    height: 33px;
    background: $aссent;
    border-radius: 20px;
    padding: 5px 33px 5px 33px;
    position: absolute;
    right: 20px;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#icon-arrow");
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 12px;
      top: 10px;
      transition: transform, ease-in-out 0.4s;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(306deg) brightness(103%) contrast(101%);
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $aссent;

      &::after {
        filter: invert(52%) sepia(83%) saturate(2523%) hue-rotate(337deg) brightness(103%) contrast(101%);
      }
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      &::after {
        filter: invert(52%) sepia(83%) saturate(2523%) hue-rotate(337deg) brightness(103%) contrast(101%);
        transform: translateX(16px);
      }
    }

    &:active {
      background-color: $lightcolor;
      box-shadow: none;

      &::after {
        filter: invert(52%) sepia(83%) saturate(2523%) hue-rotate(337deg) brightness(103%) contrast(101%);
        transform: translateX(0);
      }
    }
  }
}

.reviews {
  &__section {
    padding: 0 0 123px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }
}

.reviews-slider {
  &__item {
    padding-bottom: 45px;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 0 90px;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 40px;
  }

  &__blockquote {
    font-style: italic;
    max-width: 650px;
    padding: 0 40px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#icon-quote-open");
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 21px;
      filter: invert(67%) sepia(100%) saturate(5%) hue-rotate(98deg) brightness(95%) contrast(96%);
      top: 0;
      left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#icon-quote-close");
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 21px;
      filter: invert(67%) sepia(100%) saturate(5%) hue-rotate(98deg) brightness(95%) contrast(96%);
      bottom: 0;
      right: 0;
    }
  }

  &__author {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: $aссent;
    padding: 0 40px;
  }

  &__text {
    font-weight: 400;
    padding-top: 15px;
    font-size: 14px;
    color: $default;
  }
}

.slick-dots {
  display: flex;
  height: 34px;
}

.slick-dots li {
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.slick-dots .slick-active button {
  background-color: $aссent;
}

.slick-dots button {
  background-color: $gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  padding-top: 7px;
  border: none;
  transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

  &:focus {
    background-color: $gray;
    box-shadow: 0 0 0 2px $aссent;
  }

  &:hover {
    background-color: $lightcolor;
    box-shadow: 0 0 0 2px rgba(255, 122, 80, 0.7);
  }

  &:active {
    background-color: $pale;
    box-shadow: none;
  }
}

.reviews-slider__arrow {
  display: flex;
  justify-content: space-between;
  width: 219px;
  margin: auto;
}

.slick-prev__icon,
.slick-next__icon {
  filter: invert(89%) sepia(11%) saturate(0%) hue-rotate(140deg) brightness(84%) contrast(103%);
}

.slick-prev,
.slick-next {
  border: 3px solid $gray;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 7px 10px;
  transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:hover {
    background-color: $lightcolor;
    border: 3px solid $pale;

    &:hover .slick-prev__icon {
      filter: invert(84%) sepia(58%) saturate(5626%) hue-rotate(306deg) brightness(115%) contrast(107%);
    }

    &:hover .slick-next__icon {
      filter: invert(84%) sepia(58%) saturate(5626%) hue-rotate(306deg) brightness(115%) contrast(107%);
    }
  }

  &:active {
    box-shadow: none;
    background-color: $lightcolor;
    border: 3px solid $lightcolor;

    &:active .slick-prev__icon {
      filter: invert(52%) sepia(83%) saturate(2523%) hue-rotate(337deg) brightness(103%) contrast(101%);
    }

    &:active .slick-next__icon {
      filter: invert(52%) sepia(83%) saturate(2523%) hue-rotate(337deg) brightness(103%) contrast(101%);
    }
  }
}

.download-app {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__inner {
    max-width: 540px;
    margin-right: 60px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__link {
    margin-right: 26px;
    display: inline-block;
    border: 1px solid $gray;
    border-radius: 7px;

    &--apple {
      background-image: url("../images/icon-apple.svg");
      width: 120px;
      height: 40px;
    }

    &--google {
      background-image: url("../images/icon-google.svg");
      width: 135px;
      height: 40px;
    }
  }

  &__img {
    width: 570px;
    height: 380px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
  }
}

.footer {
  &__inner {
    display: flex;
    padding-bottom: 66px;
  }

  &__logo {
    margin: 0 0 30px 0;
    display: block;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    max-width: 571px;
  }

  &__menu-list {
    &:not(:last-child) {
      margin-right: 70px;
    }
  }

  &__menu-item {
    margin-bottom: 13px;
  }

  &__menu-link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: $default;
    border-radius: 5px;
    transition: box-shadow, opacity, ease-in-out 0.4s;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      text-decoration: none;
    }

    &:hover {
      color: $aссent;
      box-shadow: none;
      text-decoration: none;
    }

    &:active {
      color: $default;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      box-shadow: none;
      text-decoration: none;
    }
  }

  &__top {
    text-align: center;
    border-top: 1px;
    box-shadow: 0 0 0 1px rgb(194, 194, 194, 0.2);
  }

  &__copy {
    display: block;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
  }
}

.form {
  max-width: 200px;
  margin-right: 70px;

  &__input {
    height: 44px;
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 12px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &::placeholder {
      font-size: 14px;
      line-height: 1.3;
      color: $gray;
      opacity: 0.9;
      transition: ease-in-out 0.4s;
    }

    &:focus {
      box-shadow: 0 0 0 2px $aссent;
      border-radius: 5px;
    }

    &:hover::placeholder {
      transition: opacity, 0.8s;
      color: $title;
      opacity: 0.9;
    }
  }

  &__btn {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: $white;
    padding: 13px 40px 13px 72px;
    background-color: $aссent;
    border-radius: 5px;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &::after {
      position: absolute;
      content: "";
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 15px;
      height: 15px;
      mask: url("../images/icons/icon-telegram.svg");
      top: 14px;
      left: 38px;
      background-color: $white;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $aссent;

      &::after {
        background-color: $aссent;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $aссent;

      &::after {
        background-color: $aссent;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: none;

      &::after {
        background-color: $aссent;
      }
    }
  }
}

.address {
  margin-right: 70px;
  &__item {
    margin-bottom: 15px;
  }

  &__link {
    padding-left: 30px;
    position: relative;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: $default;

    &::after {
      position: absolute;
      content: "";
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 17px;
      height: 20px;
      top: 1px;
      left: 0;
      background-color: $default;
    }

    &--street::after {
      mask: url("../images/icons/icon-location.svg");
      left: 3px;
    }

    &--tel::after {
      mask: url("../images/icons/icon-call.svg");
      width: 21px;
      height: 21px;
    }

    &--email::after {
      mask: url("../images/icons/icon-message.svg");
      width: 22px;
    }
  }
}

.social-contacts {
  display: flex;

  &__item {
    margin-right: 13px;
  }

  &__link {
    display: block;
    position: relative;
    width: 39px;
    height: 39px;
    background-color: $silver200;
    border-radius: 50%;
    transition: background-color, box-shadow, opacity, ease-in-out 0.4s;

    &:focus {
      background-color: $lightcolor;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: $accent2;
      &:hover .social-contacts__icon {
        fill: $white;
      }
    }

    &:active {
      background-color: $lightcolor;
      box-shadow: none;
      &:hover .social-contacts__icon {
        fill: $accent2;
      }
    }
  }

  &__icon {
    position: absolute;
    fill: $default;
    left: 51%;
    transform: translateX(-50%);
    transition: fill, ease-in-out 0.4s;

    &--facebook {
      top: 9px;
      width: 10px;
      height: 21px;
    }

    &--twitter {
      top: 11px;
      width: 21px;
      height: 17px;
    }

    &--instagram {
      top: 10px;
      width: 20px;
      height: 20px;
    }
  }
}
