<section class="download-app section">
  <div class="container">
    <div class="download-app__wrapper">
      <div class="download-app__inner">
        <h2 class="title download-app__title">Скачайте мобильное приложение</h2>

        <div class="download-app__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
            удобном
            месте.
          </p>
        </div>

        <a class="download-app__link download-app__link--apple" href="https://www.apple.com/ua/app-store/"
          target="_blank">
          <span class="sr-only">Скачать приложение для apple</span>
        </a>

        <a class="download-app__link download-app__link--google"
          href="https://play.google.com/store/games?hl=ru&gl=US&pli=1" target="_blank">
          <span class="sr-only">Скачать приложение для android</span>
        </a>
      </div>

      <div class="download-app__img" style="background-image: url('images/download_img.png')">
        <span class="sr-only">Рекламное изображение</span>
      </div>
    </div>
  </div>
</section>