<header class="header">
  <div class="container">
    <nav class="header__nav">

      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип сайта">
      </a>

      <div class="header__menu">

        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link menu__link--active animation" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link animation" href="#">Блюда</a>
          </li>
          <li class="menu__item">
            <a class="menu__link animation" href="#">Контакты</a>
          </li>
        </ul>

        <form class="user-form" action="input">
          <ul class="user-nav">
            <li class="user-nav__item">
              <button class="user-nav__btn" type="button">
                <svg class="user-nav__icon">
                  <use xlink:href="images/sprite.svg#icon-search"></use>
                </svg>
                <span class="sr-only">поиск по сайту</span>
              </button>
            </li>

            <li class="user-nav__item">
              <button class="user-nav__btn" type="button">
                <svg class="user-nav__icon">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="user-nav__num">4</span>
                <span class="sr-only">корзина покупок</span>
              </button>
            </li>
          </ul>
        </form>


      </div>
    </nav>
  </div>
</header>