<section class="popular-categories section">
  <div class="container">
    <h2 class="popular-categories__title title">Популярные категории</h2>

    <ul class="popular-categories__list">

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter="all">
          <svg class="popular-categories__icon">
            <use xlink:href="images/sprite.svg#icon-burger"></use>
          </svg>
          Бургеры
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-pizza">
          <svg class="popular-categories__icon">
            <use xlink:href="images/sprite.svg#icon-pizza"></use>
          </svg>
          Пицца
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-sentwitch">
          <svg class="popular-categories__icon">
            <use xlink:href="images/sprite.svg#icon-sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-asia">
          <svg class="popular-categories__icon">
            <use xlink:href="images/sprite.svg#icon-asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>

      <li class="popular-categories__item">
        <button class="popular-categories__btn" type="button" data-filter=".category-sets">
          <svg class="popular-categories__icon">
            <use xlink:href="images/sprite.svg#icon-sets"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>


    <ul class="popular-categories__wrapper">
      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-1_burger-160.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">
            Чизбургер с листьями салата</h3>
          <span class="product-card__price">160
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-2_burger-190.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">
            Бифбургер</h3>
          <span class="product-card__price">190
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-3_burger-260.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price">260
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-4_burger-199.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-5_burger-180.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price">180
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-6_burger-160.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">
            Чизбургер с листьями салата</h3>
          <span class="product-card__price">160
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-7_burger-190.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">
            Бифбургер</h3>
          <span class="product-card__price">190
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-8_burger-260.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Королевский чизбургер</h3>
          <span class="product-card__price">260
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-9_burger-199.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Черный гамбургер</h3>
          <span class="product-card__price">199
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

      <li class="popular-categories__inner mix all">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img src="images/products/item-10_burger-180.jpg" width="140" height="140" alt="Изображение товара">
          </a>
          <h3 class="product-card__title">Чикен бургер</h3>
          <span class="product-card__price">180
            <span>грн.</span>
          </span>
          <button class="product-card__btn visual" type="button">В корзину</button>
        </article>
      </li>

    </ul>

    <button class="popular-categories__button animation animation--modyfity" type="button">Показать еще</button>

  </div>
</section>