<section class="restaurants section">
  <div class="container">

    <h2 class="title restaurants__title">Лучшие рестораны</h2>

    <ul class="restaurants__list">
      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/01-blaze_pizza.jpg" width="370" height="300" alt="изображение пиццы">
          </div>
          <h3 class="restaurant-card__title">Blaze Pizza</h3>
          <span class="restaurant-card__time">11:00 - 22:00</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>

      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/02-pizza_runcho.jpg" width="370" height="300" alt="изображение пиццы">
          </div>
          <h3 class="restaurant-card__title">Pizza Runcho</h3>
          <span class="restaurant-card__time">12:00 - 21:00</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>

      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/03-pizza_hut.jpg" width="370" height="300" alt="изображение пиццы">
          </div>
          <h3 class="restaurant-card__title">Pizza Hut</h3>
          <span class="restaurant-card__time">11:00 - 22:00</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>

      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/04-mc_donalds.jpg" width="370" height="300" alt="изображение гамбургера">
          </div>
          <h3 class="restaurant-card__title">McDonald`s</h3>
          <span class="restaurant-card__time">06:00 - 23:00</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>

      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/05-kfc.jpg" width="370" height="300" alt="изображение картошки фри">
          </div>
          <h3 class="restaurant-card__title">KFC</h3>
          <span class="restaurant-card__time">06:00 - 23:30</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>

      <li class="restaurants__item">
        <article class="restaurant-card">
          <div class="restaurant-card__img">
            <img src="images/restaurants/06-star_burgers.jpg" width="370" height="300" alt="изображение гамбургера">
          </div>
          <h3 class="restaurant-card__title">Star Burgers</h3>
          <span class="restaurant-card__time">09:00 - 21:00</span>
          <a class="restaurant-card__link" href="#"></a>
        </article>
      </li>
    </ul>

  </div>
</section>